.upload-info {
    width: 15rem;
    margin-bottom: 10px;
    .mat-card-subtitle {
        color: black;
    }
}

.contador-progresso {
    margin-top: 10px;
    text-align: center;
}

.upload-acoes {
    .mat-secundary {
        margin-right: 10px;
    }
}